body {
    background-color: hsl(180, 85%, 48%);
}
.background {
    background-color: beige;
    height: 650px;
    width: 1270px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    left: 50px;

}
header {
    text-align: center;
}
img {
    position: absolute;
    left: 180px;
    border-radius: 10px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
ul {
    position: relative;
    top: 700px;
}
footer {
    position: relative;
    top: 800px;
}
img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 300px) {
    body {
        width: 70vmin;
    }
}
@media (max-height: 250px) {
    body {
        height: 80vmin;
    }
}